{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        form{
            width: 700px;
            margin-top : 100px;
            margin-right: auto;
            margin-left: auto;
        }

        h1{
            margin-top: 50px;
            padding: 16px;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
        }
    </style>
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
