{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Profil</h1>

    Les matchs que vous avez parié !!
    {% for key,pari in paris %}
        <ul>
            <li><h2>Pari n° {{ key }}</h2></li>
            <li>{{ matchs[pari.getIdMatch()].teams.domicile }} vs {{ matchs[pari.getIdMatch()].teams.exterieur}}</li>
            <li>{{ pari.getScoreDomicile }} - {{ pari.getScoreExterieur }}</li>
        </ul>
    {% endfor %}
    <h1>Score total</h1>
    <h2>{{ points }}</h2>
</div>
{% endblock %}
